<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-product-sale-view-chad-heading"
        data-cy="ProductSaleViewCreateUpdateHeading"
        jhiTranslate="gestionProduitApplication1App.productSaleView.home.createOrEditLabel"
      >
        Créer ou éditer un Product Sale View
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="gestionProduitApplication1App.productSaleView.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestionProduitApplication1App.productSaleView.productName" for="field_productName"
            >Product Name</label
          >
          <input
            type="text"
            class="form-control"
            name="productName"
            id="field_productName"
            data-cy="productName"
            formControlName="productName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestionProduitApplication1App.productSaleView.stockName" for="field_stockName"
            >Stock Name</label
          >
          <input type="text" class="form-control" name="stockName" id="field_stockName" data-cy="stockName" formControlName="stockName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestionProduitApplication1App.productSaleView.quantite" for="field_quantite"
            >Quantite</label
          >
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestionProduitApplication1App.productSaleView.productPrice" for="field_productPrice"
            >Product Price</label
          >
          <input
            type="number"
            class="form-control"
            name="productPrice"
            id="field_productPrice"
            data-cy="productPrice"
            formControlName="productPrice"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestionProduitApplication1App.productSaleView.total" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestionProduitApplication1App.productSaleView.createdBy" for="field_createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestionProduitApplication1App.productSaleView.createdDate" for="field_createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gestionProduitApplication1App.productSaleView.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="gestionProduitApplication1App.productSaleView.lastModifiedDate"
            for="field_lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
