<div>
  <h2 id="page-heading" data-cy="ProductTransactionHeading">
    <span jhiTranslate="gestionProduitApplication1App.productTransaction.home.title">ProductTransactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionProduitApplication1App.productTransaction.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-product-transaction-chad"
        [routerLink]="['/product-transaction-chad/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionProduitApplication1App.productTransaction.home.createLabel"> Créer un nouveau Product Transaction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="productTransactions?.length === 0">
    <span jhiTranslate="gestionProduitApplication1App.productTransaction.home.notFound">Aucun Product Transaction trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="productTransactions && productTransactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="gestionProduitApplication1App.productTransaction.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionType">
            <div class="d-flex">
              <span jhiTranslate="gestionProduitApplication1App.productTransaction.transactionType">Transaction Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="gestionProduitApplication1App.productTransaction.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stockProduct.id">
            <div class="d-flex">
              <span jhiTranslate="gestionProduitApplication1App.productTransaction.stockProduct">Stock Product</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="product.id">
            <div class="d-flex">
              <span jhiTranslate="gestionProduitApplication1App.productTransaction.product">Product</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productTransaction of productTransactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/product-transaction-chad', productTransaction.id, 'view']">{{ productTransaction.id }}</a>
          </td>
          <td jhiTranslate="{{ 'gestionProduitApplication1App.TypeTransaction.' + productTransaction.transactionType }}">
            {{ productTransaction.transactionType }}
          </td>
          <td>{{ productTransaction.description }}</td>
          <td>
            <div *ngIf="productTransaction.stockProduct">
              <a [routerLink]="['/stock-product-chad', productTransaction.stockProduct.id, 'view']">{{
                productTransaction.stockProduct.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="productTransaction.product">
              <a [routerLink]="['/product-chad', productTransaction.product.id, 'view']">{{ productTransaction.product.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product-transaction-chad', productTransaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/product-transaction-chad', productTransaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(productTransaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="productTransactions && productTransactions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
